<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Defter UI</title>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/efe-all-2.0.15.min.css" rel="stylesheet" />
    <link href="~/css/jsoneditor.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/bundle.min.js"></script>
    <script src="~/js/efe-all-2.0.15.min.js"></script>
    <script src="~/js/reconnecting-websocket.min.js"></script>
    <script src="~/js/jsoneditor-minimalist.min.js"></script>
    <script src="~/js/knockout-jsoneditor.js"></script>
    @Html.CreateEfeContext()
</head>
<body>
    <div class="container-wrapper">
        <div class="sidebar">
            <div class="icon-bar">
                <a class="active" href="/" title="Dashboard">
                    <i data-feather="home" class="blue"></i>
                </a>
                <a href="#"><i data-feather="hard-drive" class="teal"></i></a>
                <a href="#"><i data-feather="inbox" class="deep-purple"></i></a>
                <a href="#"><i data-feather="pie-chart" class="red"></i></a>
            </div>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/cookie.js"></script>
    <script>
        feather.replace();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>