<div>
    <div>
        <i style="float:left;" data-feather="activity" class="pink"></i>
        <h3 class="brown">Activities</h3>
    </div>
    <div class="bd defter-box">
        @{
            var gridComponent = Html.Efe().Grid<DefterGenericMessage>()
            .Name("messagesGrid")
            .DataSource(source => source.Ajax().Read("GetMessages", "Home"))
            .Events(events => events.Init("gridInitHandler").CreatedRow("rowCreatedHandler"))
            .PageLength(PageLengths.TwentyFive)
            .BindableColumns(columns =>
            {
                columns.Bind(x => x.RequestId);
                columns.Bind(x => x.Name);
                columns.Bind(x => x.OperationName);
                columns.TemplateColumn("Select", "btnGridSelectRow");
            });

            gridComponent.FilterPanel("filterModal", "Filtre Uygula");
            gridComponent.Render();
        }
    </div>
</div>

<script>

    $(function () {
        'use strict';

        var connectionId = Cookies.get("connectionId");
        var connectorName = "@Environment.MachineName";
        var containerId = "connectionContainer";
        var scheme = document.location.protocol == "https:" ? "wss" : "ws";
        var port = document.location.port ? (":" + document.location.port) : "";
        var socket;

        var WebSocketCommands = {
            Connect: 1,
            DataSend: 2,
            Handshake: 4,
            All: 7
        }

        var state = {
            connect: "Connect",
            connecting: "Connecting...",
            connected: "Connected"
        }

        var ViewModel = function () {
            
        };

        var instance = new ViewModel();
        ko.applyBindings(instance, document.getElementById(containerId));
    });

    function rowCreatedHandler(row, data, index) {
        return;
    }

    var gridInitHandler = function (e, settings, json) {
    }

</script>