<div>
    <div>
        <i style="float:left;" data-feather="activity" class="pink"></i>
        <h3 class="brown">Activities</h3>
    </div>
    <div class="bd defter-box">
        @{
            var gridComponent = Html.Efe().Grid<DefterGenericMessage>()
            .Name("messagesGrid")
            .DataSource(source => source.Ajax().Read("GetMessages", "Home"))
            .Events(events => events.Init("gridInitHandler").CreatedRow("rowCreatedHandler"))
            .PageLength(PageLengths.TwentyFive)
            .BindableColumns(columns =>
            {
                columns.Bind(x => x.RequestId);
                columns.Bind(x => x.Name);
                columns.Bind(x => x.OperationName);
                columns.TemplateColumn("Select", "btnGridSelectRow");
            });

            gridComponent.FilterPanel("filterModal", "Filtre Uygula");
            gridComponent.Render();
        }
    </div>
</div>

<script>

    efe.subscribe(efe.events.propertyChanged, function (sender, context) {

    });

    function autoCompleteChanged(e) {
        // console.log("Auto Complete Changed :", e);
    }

    function rowCreatedHandler(row, data, index) {
        return;
    }

    var gridInitHandler = function (e, settings, json) {
    }

</script>